.home-container i,button{
    cursor:pointer
}

.home-container
{
    width:100vw;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.home-container .banner
{
    /* position:relative; */
    min-width:100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../../images/bg2.jpg'); 
    background-size: cover;
}


.home-container .banner .content
{
  max-width: 900px;
  text-align: center;
}



.home-container .banner .content h1
{
    font-size: 5em;
    color:rgb(250, 95, 23);
}


.home-container .banner .content p{
    font-size: 1em;
    color:yellow
}

.home-container .banner .content button{
    padding:10px 20px;
    background-color: tomato;
    transition: 0.5s;
    cursor: pointer;
    
}



.home-container .banner .content button:hover{
    letter-spacing: 6px;
    color:white;
}


.home-container .banner .content button a{
    color:white;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}





/* //header */


.home-container header{
position: fixed;
top:0;
left: 0;
min-width: 100%;
padding:30px 100px;
z-index: 1000;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0.5s;

}

.home-container header.sticky
{
    background: white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.home-container header .logo
{
    color:white;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

.home-container header.sticky .logo
{
    color:rgb(250, 95, 23);
}

header .navigation
{
    position: relative;
    display:flex;
}

header .logo span img{
    height:60px;
    width:50px;
    margin-left: 10px;
}

#invertLogo
{
    filter: invert(100%);
}


header .navigation li{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a
{
    position: relative;
    text-decoration: none;
    color:white;
    font-size:1.16em ;
    font-weight: 400;
}


header .navigation li,header .navigation i
{
    color:white
}


header.sticky .navigation li a{
    color:rgb(250, 95, 23);
    align-items: center;
}


header.sticky .navigation li , header.sticky .navigation i{
    color:rgb(250, 95, 23);
}


header .navigation li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    margin-bottom: -8px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  header .navigation li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  header.sticky .navigation li a::after
  {
      background-color: tomato;
  }


  /* //about */


  section.about
  {
      margin-top:60px;
      padding:100px;
      font-size:1.1em;
      align-items: center;
  }


  .about .about-img
  {
      height: 100%;
      width: 90%;
      align-items: center;
  }


  .about-title
  {
      font-size: 1.9em;
      font-weight: 300;
      margin-bottom: 20px;
  }

  .about-title span{
      color:tomato;
      font-weight: 700;
      font-size: 1.5em;
  }




  /* menu  */

  section.menu
  {
      padding:60px;
      text-align: center;
  }

  .menu .menu-title
  {
    font-size: 2.1em;
    font-weight: 300;
    margin-bottom: 20px;
}

.menu-title span{
    color:tomato;
    font-weight: 700;
    font-size: 1.5em;
}
  
  .menu .title{
    width:100%;
    text-align: center;
  }


  .menu .menu-content{
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      margin-top: 40px;
  }


  .menu .menu-content .box
  {
      width:340px;
      margin:20px;
      border:15px solid rgb(252, 252, 252);
      box-shadow: 0 5px 35px rgb(197, 191, 191);
  }

  .menu .menu-content .box .imgBx
  {
      position: relative;
      width: 100%;
      height:300px;
  }


  .imgBx img{
      position:absolute;
      top:0;
      left:0;
      width: 100%;
      height:100%;
      object-fit: cover;
  }

  .menu-content .text
  {
      padding:12px 0 0px;
  }

  .menu-content .text h3{
    font-weight:600;
    font-size:1.2em;
    color:#111;
}


.menu button{
  padding:10px 20px;
  margin: 20px 0 0 20px;
  text-transform: uppercase;
  background-color: tomato;
  color:white;
  letter-spacing: 2px;
  transition: 0.5s;
}



.home-container .menu button:hover{
  letter-spacing: 6px;
  color:white;
}


  @media (max-width:678px)
  {

    section.menu
    {
        padding:100px 30px;
        padding-right: 50px;
    }
    .menu .menu-content{
        
        flex-direction: column;
        width:75%;
        margin:0 auto;
    }

    
    .menu .menu-content .box
    {
        width:100%;
        margin-bottom: 20px;
        border:10px solid rgb(252, 252, 252);
    }
  }





/* contact  */


section.contact{
    margin-top: 60px;
}

.contact .content{
    background-color: black;
    display:flex;
    justify-content: center;
    color:white;
    padding:90px 0;
    
}
.contact .content .social-icons
{
    padding-left: 20px;
}
.contact .content .social-icons ul li
{
  list-style: none
}

.contact .social-icons ul li:not(:last-child)
{
    margin-bottom: 5px;
}

.contact .content .social-icons ul li a 
{
   
     color:rgb(253, 108, 82);
     font-size: 1.5em;
     text-decoration: none;
}


.contact .contact-title
{
    width:100%;
    text-align:center
}

.contact-title h2
{
  font-size: 2.1em;
  font-weight: 300;
  margin-bottom: 20px;
}

.contact-title h2 span{
  color:tomato;
  font-weight: 700;
  font-size: 1.5em;
}


.contact .contact-form
{
    width:30%;
    padding-right: 20px;
}


.contact .contact-form button{
    width:100%;
    background-color: tomato;
    color:white;
    padding:10px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
  
.home-container .contact-form button:hover{
    letter-spacing: 6px;
    color:white;
}



/* spinner  */
.spinner
{
    text-align: center;
}
/* media query */

@media (max-width:991px)

{
    /* nav  */
    header,header .sticky
    {
        padding:10px 20px;
    }

    header .navigation{
        display:none;
    }


    header .navigation.active
    {
        width: 100%;
        height:calc(100%);
        position: fixed;
        top:68px;
        left:0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: white;

    }


    header .navigation li
    {
        margin-left: 0;
    }


    header .navigation.active li , header .navigation.active .nav-i 
    {
        color:tomato;
    }


    header .navigation.active li a
    {
        color:tomato;
        font-size:1.8em;
        font-weight: 300;
    }

    .toggle
    {
        position:relative;
        width:40px;
        height:40px;
        background:url('../../images/menu.png') no-repeat center;
        background-size: 30px;
        cursor: pointer;
    }



     header.sticky .toggle
     {
         filter:invert(1);
     }

     section
     {
         padding: 20px;
     }

     .banner .content h2
     {
        font-size: 3em;
        color: #fff;
     }

     .about .row
     {
        flex-direction: column;
     }

    

     section.menu
     {
         padding-top: 30px;
     }


     .contact .contact-form
     {
         width:70%;
         padding-right: 5px;
     }

     
     .contact .content .social-icons
     {
         padding-left: 5px;
     }
}



@media (max-width:586px)
{
        .home-container header,.home-container header.sticky
        {
            padding-left: 20px;
            padding-right: 20px;
        }

}