.cart-container .cart-content
{

    width:70%;
    margin:20px auto;
    background-color: white;
    padding:30px 10px;
    margin-top:100px;
}


.cart-container
{
    box-sizing: border-box;
    padding:0;
    margin:0;
    /* max-width:100vw; */

}

.cart-content .cart-item
{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-content .title
{
    color:tomato;
    text-align: center;
    font-size: 1.9em;
    letter-spacing:2px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title div
{
    width:20%;
    border-bottom:3px solid tomato;
    margin:0 auto;
}

.totalAmt
{
    width:80%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

.totalAmt h4
{
    letter-spacing: 1.9px;
    margin-left:40px;
}

.cart-container .collection
{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
}


.cart-content{
    width:100%;
}

.cart-item button
{
    outline: none;
    border:none;
    background:white;
}

.cart-item .remove
{
    height:58%;
    padding-top:12px;
    margin-right: 8px;
}


.cart-item i
{
    color:tomato;
    font-size:20px;
}

.cart-item .remove i
{
    font-size:1.8em;
}


.right-text,.left-text
{
    display: flex;
    height:65%;
}

.left-text img
{
    height:60px;
    width:60px;
}

.left-text .item-desc
{
    margin-left: 20px;
}
.left-text .item-desc .name
{
    font-size: 1.3em;
    font-weight: 500;
}


.right-text
{
    border:1px solid black;
}

.right-text span
{
    padding:8px 18px;
}

.right-text .quantity
{
    background-color: rgb(250, 173, 159);
} 

.cart-btn
{
    width:80%;
    display: flex;
    margin:0 auto;
    justify-content: center;
    justify-content: space-between;
    padding:20px 0;
}

.cart-btn button
{
    outline:none;
    border:none;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid tomato;
    border-radius: 5px;
    padding:10px 20px;
    background-color: tomato;
    color:white;
}

.back-btn
{
    display: block;
    text-align: center;
}

.clear-bag
{
    color:tomato;
    font-size: 1.5em;
    text-align: center;
}

.clear-bag h1
{
    font-size: 2em;
    letter-spacing: 3px;
}

@media screen and (max-width:1150px)
{

   
  .cart-container .collection
  {
       width:100%;
  }

   
    .left-text
    {
        padding:0
    }

    .cart-btn
    {
        width:100%;
        /* justify-content: center; */
        justify-content: space-evenly; 
        padding:20px 0;
    }

    .cart-btn button
    {
        font-size: 1.1em;
        letter-spacing: 1px;
        border-radius: 5px;
        padding:10px 10px;
    }

    .cart-btn:not(:last-child)
    {
        margin-right:6px;
    }

    .left-text .item-desc .name
    {
        font-size:1.4em;
    }

    .right-text span
    {
        padding:8px 10px;
    }


    .cart-item .remove
    {
        margin-right:4px;
    }

    .title div
    {
        width:60%;
    }
}


@media  screen and (max-width:905px) {

    .cart-container .cart-content
    {

        width:85%;
        background-color: white;
    }

     .cart-content .cart-item
    {
        width:90%;
        margin:10px auto;
    }
    
}

@media screen and (max-width:700px)
{

    .cart-container .cart-content
    {

        width:89%;
        background-color: white;
    }

    .cart-btn button
    {
        font-size:1em;
        letter-spacing: 0;
        border-radius: 5px;
        padding:10px 10px;
    }
}
@media screen and (max-width:568px)
{

    .cart-container .cart-content
    {

        width:98%;
        background-color: white;
    }

  .cart-container .collection
  {
       width:100%;
  }

    .cart-content .cart-item
    {
        width:96%;
        margin:10px auto;
    }
    .left-text
    {
        padding:0
    }

    .cart-btn
    {
        width:100%;
        justify-content: center;
        justify-content: space-between;
        padding:20px 0;
    }

    .cart-btn button
    {
        font-size: 0.7em;
        letter-spacing: 0;
        border-radius: 5px;
        padding:10px 10px;
    }

    .cart-btn:not(:last-child)
    {
        margin-right:6px;
    }

    .left-text .item-desc .name
    {
        font-size:1.2em;
    }

    .right-text span
    {
        padding:8px 10px;
    }

    .cart-item .remove
    {
        margin-right:4px;
    }

    .title div
    {
        width:60%;
    }
}


@media screen and (max-width:400px)
{
    .cart-content .cart-item
    {
        width:97%;
    }

    .cart-container .cart-content
    {

        width:99%;
    }

    .cart-btn button
    {
        font-size: 0.8em;
        letter-spacing: 0;
        padding:10px 3px;
        text-transform: capitalize;
    }

    .totalAmt
    {
        width:90%;
    }
}