
.cafe-container .cafe-content
{
    margin-top: 10%;
}


.addToCart
{
        background-color: tomato;
        color:white;
        padding:8px 17px;
        border:0;
        outline:0;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.5s;
        border:1px solid tomato
}

.addToCart:focus
{
        background-color: white;
        color: tomato;
        border:2px solid tomato;
        letter-spacing: 2.2px;
        font-size: 1.2em;
}

.addToCart:hover
{
        background-color: white;
        color: tomato;
        border:2px solid tomato;
        border-radius: 5px;
        letter-spacing: 2.2px;
        font-size: 1.2em;
}



@media  screen and (max-width:736px) {

        .cafe-container .cafe-content
        {
           margin-top:15%;
        }

}


@media  screen and (max-width:456px) {

        .cafe-container .cafe-content
        {
           margin-top:20%;
        }

}